<%- include("partials/header"); -%>
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    

    <p style="color:rgba(66, 94, 10, 0.899);text-align: center;"><i>Help us to analyse the mental health of student before examinations by filling out the given form</i></p>
     <a style="margin-left:50%" href="https://forms.gle/2whu2A4d9eoNERJXA">Survey Form</a>
    <%- include("partials/footer"); -%>
