<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/reset.css">

</head>
<body>
    
<div>
  <form action="/reset" method="POST">
    <label for="fname">Registered Email id</label>
    <input type="text" id="fname" name="username" placeholder="Your email..">

    <label for="lname">New Password</label>
    <input type="password" id="lname" name="newpassword" placeholder="Your password..">

    <br>
  
    <button type="submit" value="Submit">Change Password</button>
  </form>
</div>

</body>
</html>