<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/welcome.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Working With The Mind</title>
    
</head>

<body>
    <div class="container">
        

        <div class="heading1">
            
            <h2>Working With The Mind</h2>
        </div>
        <div class="">
            <h1>Be cautious about your mental heath like your physical health</h1>
            <div>
                <img src="images/brain.gif" alt="gif">
            </div>
            <br><br>
            <div class="buttons">
                <span>
                    <a href="/sign-in">
                        <button class="signin" style="font-size: large;">Sign In</button>
                    </a><a class="item2" href="/sign-up">
                        <button class="signup" style="font-size: large;">Sign Up</button>
                    </a>
                </span>
            </div>
            
        </div> 
    </div>
</body>

</html>